__pycache__/agent.cpython-38.pyc
__pycache__/agents.cpython-38.pyc
__pycache__/cards.cpython-38.pyc
__pycache__/env.cpython-38.pyc
__pycache__/image.cpython-38.pyc
__pycache__/models.cpython-38.pyc
__pycache__/rule.cpython-38.pyc
images/agriculture.jpg
images/ai.jpg
images/alchemy.jpg
images/anatomy.jpg
images/antibiotics.jpg
images/archery.jpg
images/astronomy.jpg
images/atomicTheory.jpg
images/banking.jpg
images/bicycle.jpg
images/bioengineering.jpg
images/calendar.jpg
images/canelBuilding.jpg
images/canning.jpg
images/chemistry.jpg
images/cityStates.jpg
images/classfication.jpg
images/clothing.jpg
images/coal.jpg
images/codeOfLaws.jpg
images/collaboration.jpg
images/colonialism.jpg
images/combustion.jpg
images/compass.jpg
images/composites.jpg
images/computers.jpg
images/construction.jpg
images/corporations.jpg
images/currency.jpg
images/databases.jpg
images/democracy.jpg
images/domestication.jpg
images/ecology.jpg
images/education.jpg
images/electricity.jpg
images/emancipation.jpg
images/empiricism.jpg
images/encyclopedia.jpg
images/engineering.jpg
images/enterprise.jpg
images/evolution.jpg
images/experimentation.jpg
images/explosives.jpg
images/fermenting.jpg
images/feudalism.jpg
images/fission.jpg
images/flight.jpg
images/genetics.jpg
images/globalization.jpg
images/gunpowder.jpg
images/industrialization.jpg
images/invention.jpg
images/lighting.jpg
images/machinery.jpg
images/machineTools.jpg
images/mapmaking.jpg
images/masonry.jpg
images/massMedia.jpg
images/mathematics.jpg
images/measurement.jpg
images/medicine.jpg
images/metalworking.jpg
images/metricSystem.jpg
images/miniaturization.jpg
images/mobility.jpg
images/monotheism.jpg
images/mysticism.jpg
images/navigation.jpg
images/oars.jpg
images/optics.jpg
images/paper.jpg
images/perspective.jpg
images/philosophy.jpg
images/physics.jpg
images/pottery.jpg
images/printingPress.jpg
images/publications.jpg
images/quantumTheory.jpg
images/railroad.jpg
images/reformation.jpg
images/refrigeration.jpg
images/roadBuilding.jpg
images/robotics.jpg
images/rocketry.jpg
images/sailing.jpg
images/sanitation.jpg
images/satellites.jpg
images/selfService.jpg
images/services.jpg
images/skyscrapers.jpg
images/socialism.jpg
images/societies.jpg
images/software.jpg
images/specialization.jpg
images/statistics.jpg
images/steamEngine.jpg
images/stemCells.jpg
images/suburbia.jpg
images/theInternet.jpg
images/thePirateCode.jpg
images/theWheel.jpg
images/tools.jpg
images/translation.jpg
images/vaccination.jpg
images/writing.jpg
images/reduced/agriculture.jpg
images/reduced/ai.jpg
images/reduced/alchemy.jpg
images/reduced/anatomy.jpg
images/reduced/antibiotics.jpg
images/reduced/archery.jpg
images/reduced/astronomy.jpg
images/reduced/atomicTheory.jpg
images/reduced/banking.jpg
images/reduced/bicycle.jpg
images/reduced/bioengineering.jpg
images/reduced/calendar.jpg
images/reduced/canelBuilding.jpg
images/reduced/canning.jpg
images/reduced/chemistry.jpg
images/reduced/cityStates.jpg
images/reduced/classfication.jpg
images/reduced/clothing.jpg
images/reduced/coal.jpg
images/reduced/codeOfLaws.jpg
images/reduced/collaboration.jpg
images/reduced/colonialism.jpg
images/reduced/combustion.jpg
images/reduced/compass.jpg
images/reduced/composites.jpg
images/reduced/computers.jpg
images/reduced/construction.jpg
images/reduced/corporations.jpg
images/reduced/currency.jpg
images/reduced/databases.jpg
images/reduced/democracy.jpg
images/reduced/domestication.jpg
images/reduced/ecology.jpg
images/reduced/education.jpg
images/reduced/electricity.jpg
images/reduced/emancipation.jpg
images/reduced/empiricism.jpg
images/reduced/encyclopedia.jpg
images/reduced/engineering.jpg
images/reduced/enterprise.jpg
images/reduced/evolution.jpg
images/reduced/experimentation.jpg
images/reduced/explosives.jpg
images/reduced/fermenting.jpg
images/reduced/feudalism.jpg
images/reduced/fission.jpg
images/reduced/flight.jpg
images/reduced/genetics.jpg
images/reduced/globalization.jpg
images/reduced/gunpowder.jpg
images/reduced/industrialization.jpg
images/reduced/invention.jpg
images/reduced/lighting.jpg
images/reduced/machinery.jpg
images/reduced/machineTools.jpg
images/reduced/mapmaking.jpg
images/reduced/masonry.jpg
images/reduced/massMedia.jpg
images/reduced/mathematics.jpg
images/reduced/measurement.jpg
images/reduced/medicine.jpg
images/reduced/metalworking.jpg
images/reduced/metricSystem.jpg
images/reduced/miniaturization.jpg
images/reduced/mobility.jpg
images/reduced/monotheism.jpg
images/reduced/mysticism.jpg
images/reduced/navigation.jpg
images/reduced/oars.jpg
images/reduced/optics.jpg
images/reduced/paper.jpg
images/reduced/perspective.jpg
images/reduced/philosophy.jpg
images/reduced/physics.jpg
images/reduced/pottery.jpg
images/reduced/printingPress.jpg
images/reduced/publications.jpg
images/reduced/quantumTheory.jpg
images/reduced/railroad.jpg
images/reduced/reformation.jpg
images/reduced/refrigeration.jpg
images/reduced/roadBuilding.jpg
images/reduced/robotics.jpg
images/reduced/rocketry.jpg
images/reduced/sailing.jpg
images/reduced/sanitation.jpg
images/reduced/satellites.jpg
images/reduced/selfService.jpg
images/reduced/services.jpg
images/reduced/skyscrapers.jpg
images/reduced/socialism.jpg
images/reduced/societies.jpg
images/reduced/software.jpg
images/reduced/specialization.jpg
images/reduced/statistics.jpg
images/reduced/steamEngine.jpg
images/reduced/stemCells.jpg
images/reduced/suburbia.jpg
images/reduced/theInternet.jpg
images/reduced/thePirateCode.jpg
images/reduced/theWheel.jpg
images/reduced/tools.jpg
images/reduced/translation.jpg
images/reduced/vaccination.jpg
images/reduced/writing.jpg
innovation/innovation-dogma.mse-style/blank.jpg
innovation/innovation-dogma.mse-style/blue_back.jpg
innovation/innovation-dogma.mse-style/blue_back.jpg_old
innovation/innovation-dogma.mse-style/card-sample.jpg
innovation/innovation-dogma.mse-style/chaos.JPG
innovation/innovation-dogma.mse-style/clock_big.JPG
innovation/innovation-dogma.mse-style/crown_big.JPG
innovation/innovation-dogma.mse-style/custom_big.png
innovation/innovation-dogma.mse-style/custom_mask.png
innovation/innovation-dogma.mse-style/eight.PNG
innovation/innovation-dogma.mse-style/five.PNG
innovation/innovation-dogma.mse-style/fort_big.JPG
innovation/innovation-dogma.mse-style/four.PNG
innovation/innovation-dogma.mse-style/green_back.jpg
innovation/innovation-dogma.mse-style/lamp_big.JPG
innovation/innovation-dogma.mse-style/leaf_big.JPG
innovation/innovation-dogma.mse-style/mask.jpg
innovation/innovation-dogma.mse-style/nine.PNG
innovation/innovation-dogma.mse-style/number_mask.PNG
innovation/innovation-dogma.mse-style/one.png
innovation/innovation-dogma.mse-style/plant_big.JPG
innovation/innovation-dogma.mse-style/purple_back.jpg
innovation/innovation-dogma.mse-style/red_back.jpg
innovation/innovation-dogma.mse-style/seven.PNG
innovation/innovation-dogma.mse-style/six.PNG
innovation/innovation-dogma.mse-style/style
innovation/innovation-dogma.mse-style/ten.PNG
innovation/innovation-dogma.mse-style/three.PNG
innovation/innovation-dogma.mse-style/Thumbs.db
innovation/innovation-dogma.mse-style/two.PNG
innovation/innovation-dogma.mse-style/yellow_back.jpg
innovation/innovation.mse-game/auto_replace
innovation/innovation.mse-game/game
innovation/innovation.mse-game/innovation.jpg
innovation/innovation.mse-game/Thumbs.db
innovation/innovation.mse-symbol-font/bulb_small.JPG
innovation/innovation.mse-symbol-font/crown_small.JPG
innovation/innovation.mse-symbol-font/fort_small.JPG
innovation/innovation.mse-symbol-font/leaf_small.JPG
innovation/innovation.mse-symbol-font/plant_small.JPG
innovation/innovation.mse-symbol-font/symbol-font
innovation/innovation.mse-symbol-font/text_eight.png
innovation/innovation.mse-symbol-font/text_five.png
innovation/innovation.mse-symbol-font/text_four.png
innovation/innovation.mse-symbol-font/text_nine.png
innovation/innovation.mse-symbol-font/text_one.png
innovation/innovation.mse-symbol-font/text_seven.PNG
innovation/innovation.mse-symbol-font/text_six.png
innovation/innovation.mse-symbol-font/text_ten.png
innovation/innovation.mse-symbol-font/text_three.png
innovation/innovation.mse-symbol-font/text_two.png
innovation/innovation.mse-symbol-font/Thumbs.db
innovation/innovation.mse-symbol-font/time_small.JPG
log/qAgents/test/0/main.log
log/qAgents/test/0/p1.log
log/qAgents/test/0/p2.log
log/qAgents/test/Game/0/main.log
log/qAgents/test/Game/0/p1.log
log/qAgents/test/Game/0/p2.log
log/users/a+b/main.log
log/users/a+b/p1.log
log/users/a+b/p2.log
__pycache__/baseObs.cpython-38.pyc
__pycache__/obs.cpython-38.pyc
__pycache__/main.cpython-38.pyc
__pycache__/profile.cpython-38.pyc
